@charset "UTF-8";

@media (min-width: 768px) {
.title-hero {
  position: absolute;
  width: 246px;
  height: 235px;
  left: 34px;
  top: 52px;
  
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 73px;
  /* or 104% */
  
  letter-spacing: 0.09em;
}
}