@charset "UTF-8";

.title-h1 {
    position: absolute;
    width: 246px;
    height: 235px;
    left: 34px;
    top: 52px;
    width: 245px;
    font-family: Bebas-Neue;
    font-weight: 400;
    font-size: 70px;
    line-height: 73px;
    letter-spacing: 0.09em;
}

.incones-3d-flutuando {
    position: absolute;
    width: 123.7px;
    height: 186px;
    left: 253px;
    top: 82px;
}